.ShowNavbar{
    background: #131a27;
    min-height: 75px;
    border-radius: 0px;
    border-color: #131a27;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.navbar-brand{
    padding-top: 25px;
    margin-left: 0px!important;
    color: white;
    font-size: 25px;
}
.navbar-right{
    margin-right: 0px;
    padding:25px;
    padding-bottom: 0px;
}
.ShowInput{
    background: #131a27;
    border: 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    width: 300px;
    color: white;
    transition: width 0.5s; 
    font-size: 17px;
}
input:focus-visible{
    outline: 0px;
    border-bottom: solid 1px #00c0ff;
    width: 400px;
    transition: width 0.5s; 
}
::placeholder { /* Most modern browsers support this now. */
    color:    white;
 }
 .glyphicon-search{
     color: rgba(255, 255, 255, 0.6);
     margin-left: -20px;
 }