@import '../colors/color';
.ShowNavbar{
    background: $navbarBackgroundColor;
    min-height: 75px;
    border-radius: 0px;
    border-color: $navbarBackgroundColor;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.LogoImage{
    padding-top: 15px;
    width: 20%;
    cursor: pointer;
}
.navbar-right{
    margin-right: 0px;
    padding-top:25px;
    padding-bottom: 0px;
}
.ShowInput{
    background: $navbarBackgroundColor;
    border: 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    width: 300px;
    color: $fontColorWhite;
    transition: width 0.5s; 
    font-size: 17px;
}
input:focus-visible{
    outline: 0px;
    border-bottom: solid 1px #00c0ff;
    width: 400px;
    transition: width 0.5s; 
}
::placeholder { /* Most modern browsers support this now. */
    color:    $fontColorWhite;
 }
 .glyphicon-search{
     color: rgba(255, 255, 255, 0.6);
     margin-left: -20px;
 }
 .UserInputAlign{
     float: right;
 }


@media only screen and (max-width: 567px){
    .LogoImage{
        width: 80%!important;
    }
    .navbar-right{
        padding: 15px!important;
    }
    .ShowInput{
        width: 200px!important;
    }
    input:focus-visible{
        width: 300px!important;
    }
}