<div class="container-fluid TopConatiner">
    <div class="SecondContainer">
        <div *ngIf="showDetailsLoading">
            <div class="Loadingalign" align="center">
                <img class="GifAlign" src="/assets/Dual Ring-1s-110px.gif"/>
            </div>
        </div>
        <div *ngIf="!showDetailsLoading">
            <div *ngIf="showData" class="PaddingTxt">
                <img class="ImageAlign" src="{{showData.image.medium}}" />
                <span class="cwhite">
                    <h2>{{showData.name}}</h2>
                    <div class="LightWhite">
                        <span><i class="glyphicon glyphicon-star"></i> {{showData.rating.average}}</span>
                        <span> &nbsp;{{showData.language}}</span>
                        <span> &nbsp;{{showData.runtime}}min</span>
                        <span> &nbsp;{{showData.premiered.split('-')[0]}}</span>
                    </div>
                    <h5><div class="SummaryTaxt" innerHTML = {{showData.summary}}></div></h5>
                    <div class="infoBackgorund">
                        <h3>Show info</h3>
                        <div>
                            <span class="fw-bold">Network : </span> <span>{{showData.network.country.name}} {{showData.network.name}}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Schedule : </span> <span>{{showData.schedule.days}} &nbsp; {{showData.schedule.time}}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Language : </span> <span>{{showData.language}}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Genres : </span> <span>{{showData.genres}}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Status : </span> <span>{{showData.status}}</span>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>