<div class="container-fluid TopConatiner">
    <div *ngIf="searchDetailsLoading">
        <div class="Loadingalign" align="center">
            <img class="GifAlign" src="/assets/Dual Ring-1s-110px.gif"/>
        </div>
    </div>
    <div  *ngIf="!searchDetailsLoading" class="SecondContainer">
        <div *ngIf="searchResult?.length > 0">
            <h4 class="cwhite HeadingAlign">Showing all results for : <i>{{userSearch}}</i></h4>
        </div>
        <div *ngIf="searchResult?.length > 0">
            <div *ngFor="let data of searchResult">
                <div *ngIf="data.show.image" class="col-lg-2 col-md-4 col-sm-6 col-xs-12 TextOnHover">
                    <div  [routerLink]="['/ShowDetails',data.show.externals.thetvdb]">
                        <img class="zoom" src="{{data.show.image.medium}}" />
                        <div class="ImagetextAlign">
                            <div class="Name">{{data.show.name}}</div>
                            <div class="Genres">{{data.show.genres}}</div>
                            <div class="Language">{{data.show.language}}<span *ngIf="data.show.network">,{{data.show.network.name}}</span></div>
                            <div class="Language">Rating : <i class="glyphicon glyphicon-star"></i> {{data.show.rating.average}}
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>

        <div *ngIf="searchResult?.length == 0">
            <div class="cwhite VerticalCenter" align="center">
                <h3>Nothing found!</h3>
                <h4>Try searching for something else</h4>
            </div>
        </div>
        
    </div>
</div>
