.zoom {
    width: 100%;
    transition: transform .2s; 
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .zoom:hover {
    transform: scale(1.1);
    z-index: 99999;
  }

.ImagetextAlign{
    margin-top:-100px;
    background: #0c111b;
    color: white;
    position: absolute;
    padding: 10px;
    width: 101%;
    opacity: 0.8;
    height: auto;
    left:-1px;
    visibility: hidden;
    cursor: pointer;
}
.VerticalCenter{
    margin-top: 25%;
    margin-bottom: 20%;
}
.HeadingAlign{
    padding: 10px;
  }
.TextOnHover{
    padding: 0px;
}
.TextOnHover:hover .ImagetextAlign{
    visibility: visible;
    height: 106px;
}
.cwhite{
    color: white;
}

.Name{
    font-size: 14px;
}
.Genres{
    font-size: 12px;
}
.Language{
    font-size: 12px;
}
